/* General Reset */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #00457C;
  color: white;
  padding: 1rem;
  text-align: center;
}

/* Navigation */
nav {
  background-color: #003366;
  padding: 0.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav a {
  color: white;
  padding: 0.5rem;
  display: block;
  text-decoration: none;
}

/* Headings */
h1 {
  color: #00457C;
}

/* Images */
img {
  width: 150px;
  height: auto;
  display: block;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

/* Main */
main {
  max-width: 840px;
  margin: 2rem auto;
  padding: 1rem;
}

/* Aside */
aside {
  width: 20rem;
  margin: 1rem auto;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

/* Paragraphs */
p {
  padding: 0;
}

/* Footer */
footer {
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 1rem;
  background-color: #f9f9f9;
}
